<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
 
  <targets>


    <!--  TEXT DOSYASINA LOG YAZMA  -->
    <!-- fileName : Tüm Logların yazılacağı yerleri belirtir.  -->
    <!-- layout   : Logların nasıl yazılacağı belirtir.  -->
    
    <target xsi:type="File" name="allfile" fileName="nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    
    <!--  TEXT DOSYASINA LOG YAZMA  -->
    <!-- Kendi loglarımızı yazacağımız yeri belirtir.-->
    <target xsi:type="File" name="ownFile-web" fileName="nlog-own-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

    <!--  VERİTABANINA LOG YAZMA  -->
    <!--Veritabanı bağlantısı için-->
     <target name="database" xsi:type="Database" connectionString="Data Source=LAPTOP-JQ6H1975;Initial Catalog=NLogExample;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" >
 
    <commandText>
    insert into dbo.Log (
      MachineName, Logged, Level, Message,
      Logger, Callsite, Exception
    ) values (
      @MachineName, @Logged, @Level, @Message,
      @Logger, @Callsite, @Exception
    );
  </commandText>

  <parameter name="@MachineName" layout="${machinename}" />
  <parameter name="@Logged" layout="${date}" />
  <parameter name="@Level" layout="${level}" />
  <parameter name="@Message" layout="${message}" />
  <parameter name="@Logger" layout="${logger}" />
  <parameter name="@Callsite" layout="${callsite}" />
  <parameter name="@Exception" layout="${exception:tostring}" />
    </target>
    
  </targets>

  <!-- Log kurallarını belirttiğimiz yerdir. -->
  <rules>
  
    <!-- 
    name="*" => tüm logları yaz,
    minlevel="Info" => Log seviyesini belirtiriz,
    writeTo="allfile" => nereye yazacağını belirtir.
    Nlog => hem buradaki hem de appsettings.json dosyası içindeki ayarlara bakar hangisi daha yüksek seviye ise onu baz alır
    -->
    <logger name="*" minlevel="Info" writeTo="allfile" />             

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--sistemsel logları atla demektir.-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <!-- kendi loglarımla alakalı ayarlar -->
    <logger name="*" minlevel="Info" writeTo="ownFile-web" />
    
    
    <logger name="*" minlevel="Trace" writeTo="database" />
    
    
  </rules>
</nlog>