
@{
    ViewData["Title"] = "PictureSave";
}

<form method="post" enctype="multipart/form-data">

    <input type="file" name="picture" />
    <input type="submit" name="Resim Kaydet" value="" />
</form>

