@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
 
<h1>Hata Meydana Gelen Sayfa : @ViewBag.Path</h1>
<h1>Hata : @ViewBag.Message</h1>